<!DOCTYPE html>
<html class="" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="admin-themes-lab">
    <meta name="author" content="themes-lab">
    <link rel="shortcut icon" href="assets/images/favicon.png" type="image/png">
    <title>邻客美国</title>
    <link href="http://fonts.googleapis.com/css?family=Nothing+You+Could+Do" rel="stylesheet" type="text/css">
    <link href="assets/css/style.css" rel="stylesheet">
    <!-- MANDATORY -->
    <link href="assets/css/theme.css" rel="stylesheet">
    <!-- MANDATORY -->
    <link href="assets/css/ui.css" rel="stylesheet">
    <!-- MANDATORY -->
    <link href="assets/plugins/datatables/dataTables.min.css" rel="stylesheet">
    <link href="page-builder/plugins/slider-pips/jquery-ui-slider-pips.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="assets/plugins/modernizr/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    <![endif]-->
</head>
<body class="sidebar-condensed color-blue theme-sltd bg-light-purple">

<!-- BEGIN SIDEBAR -->
<div class="sidebar">
    <div class="logopanel">
        <h1><a href="dashboard.html">&nbsp;</a></h1>
    </div>
    <div class="sidebar-inner">
        <div class="sidebar-top">
            <div class="userlogged clearfix">
                <div class="user-details">
                    <h4 class="">邻客美国后台</h4>

                    <div class="dropdown user-login">
                        <button class="btn btn-xs btn-rounded" type="button" data-toggle="dropdown"
                                data-hover="dropdown" data-close-others="true" data-delay="300">
                            <span>fanzheng@link.com</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <ul class="nav nav-sidebar">
            <li class="tm"><a href="dashboard.html"><i class="icon-home"></i><span>我的资料</span></a></li>
            <li class="tm"><a href="product.html"><i class="icon-fire"></i><span>我的产品</span></a></li>
            <li class="tm"><a href="ratings.html"><i class="fa fa-meh-o"></i><span>用户评价</span></a></li>
            <li class="tm nav-active active"><a href="sales.html"><i class="fa fa-bar-chart-o"></i><span>销售情况</span></a></li>
            <li class="tm"><a href="returns.html"><i class="fa fa-gavel"></i><span>退款管理</span></a></li>
            <li class="tm"><a href="scan.html"><i class="glyphicon glyphicon-search"></i><span>验证订单</span></a></li>


        </ul>
        <div class="sidebar-footer clearfix" style="">
            <a class="pull-left footer-settings" href="#" data-rel="tooltip" data-placement="top"
               data-original-title="Settings">
                <i class="icon-settings"></i></a>
            <a class="pull-left toggle_fullscreen" href="#" data-rel="tooltip" data-placement="top"
               data-original-title="Fullscreen">
                <i class="icon-size-fullscreen"></i></a>
            <a class="pull-left" href="#" data-rel="tooltip" data-placement="top" data-original-title="Lockscreen">
                <i class="icon-lock"></i></a>
            <a class="pull-left btn-effect" href="index.html" data-modal="modal-1" data-rel="tooltip" data-placement="top"
               data-original-title="Logout">
                <i class="icon-power"></i></a>
        </div>
    </div>
</div>
<!-- END SIDEBAR -->
<section>
    <div class="main-content">
        <!-- BEGIN TOPBAR -->
        <div class="topbar">
            <div class="header-left">
                <div class="topnav">
                    <a class="menutoggle" href="#" data-toggle="sidebar-collapsed"><span
                            class="menu__handle"><span>Menu</span></span></a>
                </div>
            </div>
            <div class="header-right">
                <ul class="header-menu nav navbar-nav">
                    <!-- BEGIN USER DROPDOWN -->
                    <li class="dropdown" id="language-header">
                        <a href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <i class="icon-globe"></i>
                            <span>语言</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#" data-lang="en"><img src="assets/images/flags/usa.png" alt="flag-english">
                                    <span>English</span></a>
                            </li>
                            <li>
                                <a href="#" data-lang="es"><img src="assets/images/flags/China.png" alt="flag-english">
                                    <span>简体中文</span></a>
                            </li>
                            <li>
                                <a href="#" data-lang="fr"><img src="assets/images/flags/Taiwan.png" alt="flag-english">
                                    <span>正體中文</span></a>
                            </li>
                        </ul>
                    </li>
                    <!-- END USER DROPDOWN -->
                    <!-- BEGIN USER DROPDOWN -->
                    <li class="dropdown" id="user-header">
                        <a href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <img src="assets/images/avatars/user1.png" alt="user image">
                            <span class="username">您好，用户</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#"><i class="icon-user"></i><span>修改资料</span></a>
                            </li>
                            <li>
                                <a href="#"><i class="icon-logout"></i><span>登出</span></a>
                            </li>
                        </ul>
                    </li>
                    <!-- END USER DROPDOWN -->
                </ul>
            </div>
            <!-- header-right -->
        </div>
        <!-- END TOPBAR -->
        <!-- BEGIN PAGE CONTENT -->
        <div class="page-content">


            <div class="row">
                <div class="col-md-12">
                    <div class="header"><h2 class="">销售<span style="font-weight: bold;">统计</span></h2>

                        <div class="breadcrumb-wrapper">
                            <ol class="breadcrumb">
                                <li class="c-primary">邻客美国</li>
                                <li class="c-primary">后台</li>
                                <li class="active">销售统计</li>
                            </ol>
                        </div>
                        <p class="" style="display: block;">欢迎使用邻客美国后台，在这里您可以查看并管理您的销售状况</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="header">
                        <h3 class="gray-text">总订单量</h3>

                        <div class="breadcrumb-wrapper">
                            <ol class="breadcrumb">
                                <li class="c-primary">ref#846184465</li>
                            </ol>
                        </div>
                    </div>
                    <canvas id="allOrders" width="300" height="300"></canvas>
                    <canvas class="right" id="allSales" width="300" height="300"></canvas>
                </div>

                <div class="col-md-6"></div>
                <div class="col-md-6">
                    <button class="btn btn-success right">申请提款</button>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <div class="header">
                        <h3 class="gray-text">已提款明细</h3>

                        <div class="breadcrumb-wrapper">
                            <ol class="breadcrumb">
                                <li class="c-primary">ref#846184465</li>
                            </ol>
                        </div>
                    </div>

                    <table class="table table-hover dataTable" id="table-editable">
                        <thead>
                        <tr>
                            <th>日期</th>
                            <th>金额</th>
                            <th>账号名称</th>
                            <th>账号</th>
                            <th>状态</th>
                            <th>操作员</th>
                            <th>银行单号</th>
                            <th class="text-right">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>2015/08/19</td>
                                <td>$2,000</td>
                                <td>唐僧洗头用飘柔</td>
                                <td>普通账号</td>
                                <td>已出单</td>
                                <td>强生</td>
                                <td>94651354</td>
                                <td class="text-right"><a class="edit btn btn-sm btn-default" href="javascript:;"><i class="icon-note"></i></a>  <a class="delete btn btn-sm btn-danger" href="javascript:;"><i class="icons-office-52"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>2015/08/19</td>
                                <td>$2,000</td>
                                <td>唐僧洗头用飘柔</td>
                                <td>普通账号</td>
                                <td>已出单</td>
                                <td>强生</td>
                                <td>94651354</td>
                                <td class="text-right"><a class="edit btn btn-sm btn-default" href="javascript:;"><i class="icon-note"></i></a>  <a class="delete btn btn-sm btn-danger" href="javascript:;"><i class="icons-office-52"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>2015/08/19</td>
                                <td>$2,000</td>
                                <td>唐僧洗头用飘柔</td>
                                <td>普通账号</td>
                                <td>已出单</td>
                                <td>强生</td>
                                <td>94651354</td>
                                <td class="text-right"><a class="edit btn btn-sm btn-default" href="javascript:;"><i class="icon-note"></i></a>  <a class="delete btn btn-sm btn-danger" href="javascript:;"><i class="icons-office-52"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>2015/08/19</td>
                                <td>$2,000</td>
                                <td>唐僧洗头用飘柔</td>
                                <td>普通账号</td>
                                <td>已出单</td>
                                <td>强生</td>
                                <td>94651354</td>
                                <td class="text-right"><a class="edit btn btn-sm btn-default" href="javascript:;"><i class="icon-note"></i></a>  <a class="delete btn btn-sm btn-danger" href="javascript:;"><i class="icons-office-52"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>2015/08/19</td>
                                <td>$2,000</td>
                                <td>唐僧洗头用飘柔</td>
                                <td>普通账号</td>
                                <td>已出单</td>
                                <td>强生</td>
                                <td>94651354</td>
                                <td class="text-right"><a class="edit btn btn-sm btn-default" href="javascript:;"><i class="icon-note"></i></a>  <a class="delete btn btn-sm btn-danger" href="javascript:;"><i class="icons-office-52"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>2015/08/19</td>
                                <td>$2,000</td>
                                <td>唐僧洗头用飘柔</td>
                                <td>普通账号</td>
                                <td>已出单</td>
                                <td>强生</td>
                                <td>94651354</td>
                                <td class="text-right"><a class="edit btn btn-sm btn-default" href="javascript:;"><i class="icon-note"></i></a>  <a class="delete btn btn-sm btn-danger" href="javascript:;"><i class="icons-office-52"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>2015/08/19</td>
                                <td>$2,000</td>
                                <td>唐僧洗头用飘柔</td>
                                <td>普通账号</td>
                                <td>已出单</td>
                                <td>强生</td>
                                <td>94651354</td>
                                <td class="text-right"><a class="edit btn btn-sm btn-default" href="javascript:;"><i class="icon-note"></i></a>  <a class="delete btn btn-sm btn-danger" href="javascript:;"><i class="icons-office-52"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>2015/08/19</td>
                                <td>$2,000</td>
                                <td>唐僧洗头用飘柔</td>
                                <td>普通账号</td>
                                <td>已出单</td>
                                <td>强生</td>
                                <td>94651354</td>
                                <td class="text-right"><a class="edit btn btn-sm btn-default" href="javascript:;"><i class="icon-note"></i></a>  <a class="delete btn btn-sm btn-danger" href="javascript:;"><i class="icons-office-52"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>2015/08/19</td>
                                <td>$2,000</td>
                                <td>唐僧洗头用飘柔</td>
                                <td>普通账号</td>
                                <td>已出单</td>
                                <td>强生</td>
                                <td>94651354</td>
                                <td class="text-right"><a class="edit btn btn-sm btn-default" href="javascript:;"><i class="icon-note"></i></a>  <a class="delete btn btn-sm btn-danger" href="javascript:;"><i class="icons-office-52"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>2015/08/19</td>
                                <td>$2,000</td>
                                <td>唐僧洗头用飘柔</td>
                                <td>普通账号</td>
                                <td>已出单</td>
                                <td>强生</td>
                                <td>94651354</td>
                                <td class="text-right"><a class="edit btn btn-sm btn-default" href="javascript:;"><i class="icon-note"></i></a>  <a class="delete btn btn-sm btn-danger" href="javascript:;"><i class="icons-office-52"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>2015/08/19</td>
                                <td>$2,000</td>
                                <td>唐僧洗头用飘柔</td>
                                <td>普通账号</td>
                                <td>已出单</td>
                                <td>强生</td>
                                <td>94651354</td>
                                <td class="text-right"><a class="edit btn btn-sm btn-default" href="javascript:;"><i class="icon-note"></i></a>  <a class="delete btn btn-sm btn-danger" href="javascript:;"><i class="icons-office-52"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>2015/08/19</td>
                                <td>$2,000</td>
                                <td>唐僧洗头用飘柔</td>
                                <td>普通账号</td>
                                <td>已出单</td>
                                <td>强生</td>
                                <td>94651354</td>
                                <td class="text-right"><a class="edit btn btn-sm btn-default" href="javascript:;"><i class="icon-note"></i></a>  <a class="delete btn btn-sm btn-danger" href="javascript:;"><i class="icons-office-52"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>2015/08/19</td>
                                <td>$2,000</td>
                                <td>唐僧洗头用飘柔</td>
                                <td>普通账号</td>
                                <td>已出单</td>
                                <td>强生</td>
                                <td>94651354</td>
                                <td class="text-right"><a class="edit btn btn-sm btn-default" href="javascript:;"><i class="icon-note"></i></a>  <a class="delete btn btn-sm btn-danger" href="javascript:;"><i class="icons-office-52"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>2015/08/19</td>
                                <td>$2,000</td>
                                <td>唐僧洗头用飘柔</td>
                                <td>普通账号</td>
                                <td>已出单</td>
                                <td>强生</td>
                                <td>94651354</td>
                                <td class="text-right"><a class="edit btn btn-sm btn-default" href="javascript:;"><i class="icon-note"></i></a>  <a class="delete btn btn-sm btn-danger" href="javascript:;"><i class="icons-office-52"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>2015/08/19</td>
                                <td>$2,000</td>
                                <td>唐僧洗头用飘柔</td>
                                <td>普通账号</td>
                                <td>已出单</td>
                                <td>强生</td>
                                <td>94651354</td>
                                <td class="text-right"><a class="edit btn btn-sm btn-default" href="javascript:;"><i class="icon-note"></i></a>  <a class="delete btn btn-sm btn-danger" href="javascript:;"><i class="icons-office-52"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>2015/08/19</td>
                                <td>$2,000</td>
                                <td>唐僧洗头用飘柔</td>
                                <td>普通账号</td>
                                <td>已出单</td>
                                <td>强生</td>
                                <td>94651354</td>
                                <td class="text-right"><a class="edit btn btn-sm btn-default" href="javascript:;"><i class="icon-note"></i></a>  <a class="delete btn btn-sm btn-danger" href="javascript:;"><i class="icons-office-52"></i></a>
                                </td>
                            </tr>

                        </tbody>
                    </table>

                </div>
            </div>


        </div>


        <!-- END PAGE CONTENT -->

        <!-- END PAGE CONTENT -->
    </div>
    <!-- END MAIN CONTENT -->
</section>
<!-- Preloader -->
<!--<div class="loader-overlay">-->
    <!--<div class="spinner">-->
        <!--<div class="bounce1"></div>-->
        <!--<div class="bounce2"></div>-->
        <!--<div class="bounce3"></div>-->
    <!--</div>-->
<!--</div>-->
<a href="#" class="scrollup"><i class="fa fa-angle-up"></i></a>
<script src="assets/plugins/jquery/jquery-1.11.1.min.js"></script>
<script src="assets/plugins/jquery/jquery-migrate-1.2.1.min.js"></script>
<script src="assets/plugins/gsap/main-gsap.min.js"></script>
<!-- HTML Animations -->
<script src="assets/plugins/jquery-ui/jquery-ui-1.11.2.min.js"></script>
<script src="assets/plugins/jquery-block-ui/jquery.blockUI.min.js"></script>
<!-- simulate synchronous behavior when using AJAX -->
<script src="assets/plugins/bootbox/bootbox.min.js"></script>
<script src="assets/plugins/mcustom-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
<!-- Custom Scrollbar sidebar -->
<script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/plugins/bootstrap-dropdown/bootstrap-hover-dropdown.min.js"></script>
<!-- Show Dropdown on Mouseover -->
<script src="assets/plugins/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<!-- Animated Progress Bar -->
<script src="assets/plugins/switchery/switchery.min.js"></script>
<!-- IOS Switch -->
<script src="assets/plugins/charts-sparkline/sparkline.min.js"></script>
<!-- Charts Sparkline -->
<script src="assets/plugins/retina/retina.min.js"></script>
<!-- Retina Display -->
<script src="assets/plugins/jquery-cookies/jquery.cookies.js"></script>
<!-- Jquery Cookies, for theme -->
<script src="assets/plugins/bootstrap/js/jasny-bootstrap.min.js"></script>
<!-- File Upload and Input Masks -->
<script src="assets/plugins/select2/select2.min.js"></script>
<!-- Select Inputs -->
<script src="assets/plugins/bootstrap-tags-input/bootstrap-tagsinput.min.js"></script>
<!-- Select Inputs -->
<script src="assets/plugins/bootstrap-loading/lada.min.js"></script>
<!-- Buttons Loading State -->
<script src="assets/plugins/timepicker/jquery-ui-timepicker-addon.min.js"></script>
<!-- Time Picker -->
<script src="assets/plugins/multidatepicker/multidatespicker.min.js"></script>
<!-- Multi dates Picker -->
<script src="assets/plugins/colorpicker/spectrum.min.js"></script>
<!-- Color Picker -->
<script src="assets/plugins/touchspin/jquery.bootstrap-touchspin.min.js"></script>
<!-- A mobile and touch friendly input spinner component for Bootstrap -->
<script src="assets/plugins/autosize/autosize.min.js"></script>
<!-- Textarea autoresize -->
<script src="assets/plugins/icheck/icheck.min.js"></script>
<!-- Icheck -->
<script src="assets/plugins/bootstrap-editable/js/bootstrap-editable.min.js"></script>
<!-- Inline Edition X-editable -->
<script src="assets/plugins/bootstrap-context-menu/bootstrap-contextmenu.min.js"></script>
<!-- File Upload and Input Masks -->
<script src="assets/plugins/prettify/prettify.min.js"></script>
<!-- Show html code -->
<script src="assets/plugins/slick/slick.min.js"></script>
<!-- Slider -->
<script src="assets/plugins/countup/countUp.min.js"></script>
<!-- Animated Counter Number -->
<script src="assets/plugins/noty/jquery.noty.packaged.min.js"></script>
<!-- Notifications -->
<script src="assets/plugins/backstretch/backstretch.min.js"></script>
<!-- Background Image -->
<script src="assets/plugins/charts-chartjs/Chart.min.js"></script>
<!-- ChartJS Chart -->
<script src="assets/plugins/bootstrap-slider/bootstrap-slider.js"></script>
<!-- Bootstrap Input Slider -->
<script src="assets/plugins/visible/jquery.visible.min.js"></script>
<!-- Visible in Viewport -->
<script src="assets/js/builder.js"></script>
<script src="assets/js/sidebar_hover.js"></script>
<script src="assets/js/application.js"></script>
<!-- Main Application Script -->
<script src="assets/js/plugins.js"></script>
<!-- Main Plugin Initialization Script -->
<script src="assets/js/widgets/notes.js"></script>
<script src="assets/js/quickview.js"></script>
<!-- Quickview Script -->
<script src="assets/js/pages/search.js"></script>
<!-- Search Script -->
<!-- BEGIN PAGE SCRIPTS -->
<script src="assets/plugins/datatables/jquery.dataTables.min.js"></script>
<!-- Tables Filtering, Sorting & Editing -->
<script src="assets/plugins/summernote/summernote.js"></script>
<script src="assets/plugins/skycons/skycons.js"></script>
<script src="assets/plugins/simple-weather/jquery.simpleWeather.min.js"></script>
<script src="assets/js/widgets/widget_weather.js"></script>
<script src="assets/js/widgets/todo_list.js"></script>
<script src="page-builder/plugins/slider-pips/jquery-ui-slider-pips.min.js"></script>
<script src="page-builder/plugins/saveas/saveAs.js"></script>
<script src="page-builder/js/builder_page.js"></script>
<!-- END PAGE SCRIPTS -->

<script>
    var data1 = [
        {
            value: 1000,
            color: "#5f86db",
            highlight: "#6b9ff9",
            label: "已消费"
        },
        {
            value: 1200,
            color: "#8BB0F9",
            highlight: "#A2C2F9",
            label: "未消费"
        }
    ];
    var data2 = [
        {
            value: 800,
            color: "#77DAF8",
            highlight: "#8BDFF8",
            label: "已提款"
        },
        {
            value: 400,
            color: "#B0E2F8",
            highlight: "#CBE8F8",
            label: "待提款"
        }
    ];

    var options = {
        //Boolean - Whether we should show a stroke on each segment
        segmentShowStroke: true,

        //String - The colour of each segment stroke
        segmentStrokeColor: "#fff",

        //Number - The width of each segment stroke
        segmentStrokeWidth: 2,

        //Number - The percentage of the chart that we cut out of the middle
        percentageInnerCutout: 0, // This is 0 for Pie charts

        //Number - Amount of animation steps
        animationSteps: 100,

        //String - Animation easing effect
        animationEasing: "easeOutBounce",

        //Boolean - Whether we animate the rotation of the Doughnut
        animateRotate: true,

        //Boolean - Whether we animate scaling the Doughnut from the centre
        animateScale: false,

        //String - A legend template
        legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<segments.length; i++){%><li><span style=\"background-color:<%=segments[i].fillColor%>\"></span><%if(segments[i].label){%><%=segments[i].label%><%}%></li><%}%></ul>"
    };
    var options2 = {
        //Boolean - Whether we should show a stroke on each segment
        segmentShowStroke: true,

        //String - The colour of each segment stroke
        segmentStrokeColor: "#fff",

        //Number - The width of each segment stroke
        segmentStrokeWidth: 2,

        //Number - The percentage of the chart that we cut out of the middle
        percentageInnerCutout: 33, // This is 0 for Pie charts

        //Number - Amount of animation steps
        animationSteps: 100,

        //String - Animation easing effect
        animationEasing: "easeOutBounce",

        //Boolean - Whether we animate the rotation of the Doughnut
        animateRotate: true,

        //Boolean - Whether we animate scaling the Doughnut from the centre
        animateScale: false,

        //String - A legend template
        legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<segments.length; i++){%><li><span style=\"background-color:<%=segments[i].fillColor%>\"></span><%if(segments[i].label){%><%=segments[i].label%><%}%></li><%}%></ul>"
    };
    $(document).ready(function () {
        var ctx = document.getElementById("allOrders").getContext("2d");
        var allOrdersChart = new Chart(ctx).Pie(data1, options);

        var ctx2 = document.getElementById("allSales").getContext("2d");
        var allSalesChart = new Chart(ctx2).Pie(data2,options2);

        $('.dataTable').DataTable();
    });
</script>
</body>
</html>